<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Edit Form Mapping</h1>
  <div>
    <%= link_to 'Delete', destination_form_mapping_path(@destination, @form_mapping), method: :delete, data: { turbo_confirm: 'Are you sure you wish to delete this form mapping?' }, class: 'btn btn-outline-danger' %>
  </div>
</div>

<%= link_to 'Back', destination_path(@destination), class: 'btn btn-outline-secondary mb-3' %>

<%= render 'form' %>
